{deps, [
        {sync, "0.1.3", {git, "git://github.com/rustyio/sync.git",
                           {branch, "HEAD"}}},
        {sockjs, ".*", {git, "https://github.com/sockjs/sockjs-erlang.git",
                           {branch, "master"}}},
        {ranch, "1.2.1", {git, "https://github.com/ninenines/ranch.git",
                           {branch, "HEAD"}}},
        {lager, "3.2.0", {git, "https://github.com/basho/lager.git",
                           {branch, "HEAD"}}},
        {goldrush, "0.1.8", {git, "https://github.com/DeadZen/goldrush.git",
                           {branch, "HEAD"}}},
        {cowboy, "1.0.4", {git, "https://github.com/ninenines/cowboy.git",
                           {branch, "HEAD"}}},
        {poolboy, "0.9.1", {git, "https://github.com/devinus/poolboy.git",
                            "2a035135dc3e1e2aeb0f69365171fc9e9a2e82df"}}
       ]}.
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
           ]}.
{sub_dirs, ["rel"]}.
